<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ministerio de Salud</title>
  <link rel="shortcut icon" href="img/logo_min.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home"><img src="/img/logo_min.png" alt="Node.js icon" class="nav-icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/user">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/patient">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/category">Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/graphics/index">Estadísticas</a>
          </li>
        </ul>
        <a class="navbar-brand" href="./logout">Cerrar Sesión</a>
      </div>
    </div>
  </nav>
  <div class="text-center text-white mt-3">
    <img width="10%" src="img/mosquito.png">
    <h2>
      Ministerio de Salud<br>
      Centro de gestión de datos sobre pacientes con Virus del Dengue
    </h2>
  </div>
  <%- include ("partials/message") %>
    <div class="container1">
      <div class="box1">
        <span></span>
        <div class="content1">
          <h3>Panel de<br>Usuarios</h3>
          <!-- <p>Registre y edite usuarios</p> -->
          <a href="./user" class="btn primary-btn">Acceder</a>
        </div>
      </div>
      <div class="box1">
        <span></span>
        <div class="content1">
          <h3>Panel de<br>Categorías</h3>
          <!-- <p>Agregue y actualice productos</p> -->
          <a href="./category" class="btn primary-btn">Acceder</a>
        </div>
      </div>
      <div class="box1">
        <span></span>
        <div class="content1">
          <h3>Panel de<br>Pacientes</h3>
          <!-- <p>Agregue y actualice productos</p> -->
          <a href="./patient" class="btn primary-btn">Acceder</a>
        </div>
      </div>
      <div class="box1">
        <span></span>
        <div class="content1">
          <h3>Consultar<br>Estadísticas</h3>
          <!-- <p>Agregue y actualice productos</p> -->
          <a href="./graphics/index" class="btn primary-btn">Acceder</a>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>