* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #5f5f5f;
  background-repeat: no-repeat;
  background-size: 200rem;
  animation: mov 120s infinite linear alternate;
}

@keyframes mov {
  from {
    background-position: top left;
  }

  to {
    background-position: top right;
  }
}

.nav-icon {
  width: 50px;
}

.primary-btn {
  background-color: #6cc24a;
  color: #fff;
  border-radius: 1rem;
  border-color: black;
}

.primary-btn:hover {
  background-color: rgb(2, 255, 23);
  border-color: #f8f8f8;
  color: #000000;
}

.secondary-btn {
  background-color: transparent;
  border-color: #6cc24a;
  color: #c6b6b6
}

.secondary-btn:hover {
  background-color: #6cc24a;
  color: #fff;
}

.edit-btn {
  background-color: rgb(246, 246, 106);
  color: #000;
}

.delete-btn {
  background-color: #ed6767;
  color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message-div {
  border: 2px solid lightgrey;
  background-color: #45698d;
  padding: 30px;
}

.row {
  color: #8cf700;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container1 .box1 {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

@keyframes animate {

  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container1 .box1 .content1 {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container1 .box1:hover .content1 {
  left: -25px;
  padding: 60px 40px;
}

.container1 .box1 .content1 h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container1 .box1 .content1 p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container1 .box1 .content1 a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container1 .box1 .content1 a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}


.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.charts {
  width: 100%;
  min-height: 400px;
}

/* #menu a {
  align-items: flex-end;
  color: rgb(247, 247, 247);
  font-size: 20px;
  transition: all 500ms ease;
  border: 4px solid transparent;
}
#menu a:hover {
  color: #04b3fa;
  border-bottom: 4px solid;
}
#menu a p {
  margin: 0;
  font-weight: bold;
  font-size: 1.6em;
  color: #141c2b;
}

#navbarNav {
  justify-content: center;
} */